/* css comments */

/*
    multiline
    css comments
*/

html > body p.truc ul#main-navigation:hover {}

html > body .truc ul#main-navigation:hover {}

html > body p ul#main-navigation:hover {}

body p ul#main-navigation:hover {}

body ul#main-navigation:hover {}

ul#main-navigation:hover {}

#main-navigation:hover {}

#main-navigation {}

ul:hover {}

ul {}

ul, li {}